@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue chez TechSkills Academy </h1>
    <div style="display: flex; justify-content: center;">
        <img src="./css/home.png" alt="Description de l'image">
    </div>

    <div style=" padding: 20px; margin-top: 50px;  position: relative;">
        <p>
            TechSkills Academy est un établissement de formation spécialisé dans les cours d'informatique. Nous proposons une variété de programmes et de formations adaptés aux besoins du marché actuel.
        </p>
        <p>
            Notre équipe d'instructeurs expérimentés et passionnés est dédiée à fournir une éducation de qualité, en mettant l'accent sur les compétences pratiques et les dernières technologies de l'industrie.
        </p>
        <p>
            Que vous soyez débutant ou professionnel, nous avons des cours adaptés à tous les niveaux. Rejoignez-nous pour acquérir de nouvelles compétences, développer votre carrière et rester à jour avec les avancées technologiques.
        </p>
    </div>
</div>
</div>