@model Centre_de_formation.Models.Session

@{
    ViewData["Title"] = "Add Participant to Session";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 border border-success-subtle">
                <div class="card-header bg-info text-white">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="mb-0">Inscrire un participant</h3>
                        <a class="btn btn-light" asp-action="Index">
                            <i class="fas fa-arrow-left"></i> Retour
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="AddParticipant" method="post">
                        <input type="hidden" name="sessionId" value="@ViewBag.SessionId" />
                        <div class="form-group">
                            <label>Select Participant:</label>
                            <select  name="participantId" class="form-control my-4">
                                @foreach (var participant in ViewBag.Participants)
                                {
                                    <option  value="@participant.Id">@participant.Nom @participant.Prenom</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


